body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 60, 227);
    font-family: Arial, Helvetica, sans-serif ;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(234, 10, 171);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(9, 178, 245);

}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: rgb(237, 245, 3);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation-name: yellow-ball;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}



@keyframes yellow-ball{
0%{
    translate: 0 0;

}
25%{
    translate: 50vw 0;

}
50%{
    translate: 0 50vh;

}
75%{
    translate: -50vw 0;

}
100%{
    translate: 0 0;

}

}

body:hover{
    background-color: purple;
}