body {
  font-family: Arial, sans-serif;
  background-color: rgb(76, 132, 139);
  margin: 0;
  padding: 0%;
  font-family: monospace;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  color: #9b7676;
  font-size: 2em;
}

.concert {
  border-bottom: 1px solid #c90707;
  padding: 15px 0;
}

.concert:last-child {
  border-bottom: none;
}

h2 {
  color: #000306;
  margin-bottom: 5px;
}

.date, .location {
  font-size: 14px;
  color: #c6da14;
}

.description {
  margin-top: 10px;
  line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1px 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}


.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center; 
  margin-top: 10px; 
}
.nav-links li {
    margin: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(248, 245, 245);
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #90e859;
}
nav{
    background-color: #615959;
    padding-top: 100px;


}
.nav-links a {
  color: cyan;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid cyan;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.nav-links a:hover {
  background: rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 10px cyan;
}
.event:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 10px;
  border: 80px solid #90e859; 
}
.logo {
  font-size: 35px; 
  font-weight: bold;
  color: rgb(49, 60, 52); 
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
}

.event {
margin: 40px auto;
padding: 80px;
border: 40px solid rgb(178, 234, 234);
max-width: 1000px;
 }


@media screen and (max-width: 450px){
  .nav-links{
    
    flex-direction:column ;}

}
